.header {height:100px;}
.container {min-height:500px;}
.footer {height:100px;}



.search-box {width:1300px; height:86px; background-color: #ffffff;}


a.no-underline{
    text-decoration: none !important;
}